* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
text-align: center;
background-color: rgb(16, 74, 191);
border: 4px azure;
text-decoration-color: azure;

}
.container{
    width: 100%;
    height: auto;
    border: 3px aliceblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    padding: 20px;
     
}

.box{
   width: 400px;
   height: 400px;
   background-color: aqua;
   border: 1px solid aliceblue;
   text-align: center;
   justify-content: space-between;
}
.borda1{
    border: 1px solid rgb(0, 0, 0);
}